.main{
    margin: auto;
    width: 800px;
    background: chocolate;
}
.title {
    text-align: center;
}
.table{
    width: 100%;
}
.th{
    text-align: left;
    font-size: x-large;
}
.myImput{
    width: 98.7%;
    font-size: x-large;
    padding: .2rem;
}
.myGrid{
    display: grid;

    grid-column-gap: .5rem;
}